<h1>Seja bem vindo</h1>
<p><strong>Data: </strong><%= data_br(Date.today)%></p> 

<%= render "menu"%>

<p>
    Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>

<p>
   Eu sou uma variável de instancia/sessão <%= @meu_nome %>
</p>

<p>
    Meu estudo de <%= @estudo %>
 </p>